[build]
  command = "npm run build"
  publish = "admin/dist"
  functions = "netlify/functions"

[functions]
  # This tells Netlify to include your data files in the backend
  included_files = ["*.json", "schemas/**", "shared/**", "exams/**"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200